<!-- <app-string-interpolation></app-string-interpolation> -->

<!-- <app-event-binding></app-event-binding> -->

<!-- <app-ng-style></app-ng-style> -->

<!-- <app-ng-class></app-ng-class> -->

<!-- <app-praticando-css></app-praticando-css> -->

<!-- <app-media-query></app-media-query> -->

<!-- <app-ng-for></app-ng-for> -->

<!-- <app-ng-for-form></app-ng-for-form> -->

<!-- <app-ng-switch></app-ng-switch> -->

<!-- <app-ng-template></app-ng-template> -->

<!-- de forma similar ao DIV-->
<!-- <app-ng-container></app-ng-container> -->

<!-- Recuperando os dados que está dentro das tag inicio e fim -->
<!-- <app-ng-content>
    <p>my nname is <strong>Homer Simpson</strong> nice to meet you</p>
    <p>one more beer, please</p>
</app-ng-content> -->

<!--Passando valor atraves de inputbinding-->
<!-- <app-input-binding nome="bob" sobrenome="fill" [idade]="idade"></app-input-binding> -->

<!--Recebendo valor do componente filho atraves de output-->
<!-- <app-event></app-event> -->

<!--mais input e output com lista de clients-->
<!-- <app-clients></app-clients> -->

<!--Variaveis de template (acessando metodos de componentes filhos)-->
<!-- <app-parente-child></app-parente-child> -->

<!--Menu responsivo com sidbar-->
<!-- <app-desafio-menu></app-desafio-menu> -->

<!-- <app-bootstrap></app-bootstrap> -->

<!-- <app-on-changes></app-on-changes> -->

<!--Event (set name()...)-->
<!-- <app-intercepting></app-intercepting> -->

<!-- <app-datatable-material></app-datatable-material> -->


<!-- FORMULARIOS -->

<!-- <app-template-driver-form></app-template-driver-form> -->

<!-- <app-form-native-validation></app-form-native-validation> -->

<!-- <app-form-validation></app-form-validation> -->

<!-- <app-form-control></app-form-control> -->

<!-- <app-form-group></app-form-group> -->

<!-- <app-form-builder></app-form-builder> -->

<!-- <app-form-array></app-form-array> -->

<!-- <app-reactive-form-validation></app-reactive-form-validation> -->

<!-- <app-main-lifecicle></app-main-lifecicle> -->


<!-- <app-basic></app-basic> -->

<app-home></app-home>


<ng-container *ngIf="false">

    <nav style="height: 70px; width: 100%; background-color: #000;">
        <ul class="d-flex" style="color: white">
            <li style="list-style: none;">
                <!-- <a href="/formulario">FORMULARIO</a> -->
                <!-- <a routerLink="formulario">FORMULARIO</a> -->
                <!-- <a routerLink="formulario" routerLinkActive="mat-accent">FORMULARIO</a> -->


            </li>
        </ul>
    </nav>

</ng-container>

<!-- <router-outlet></router-outlet> -->